{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5 pt-5">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card border-0 shadow">
        <div class="card-body">
          <h1 class="text-center mb-4">Войти</h1>
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="email" class="form-label">Почта</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Введите Имя пользователя">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Пароль</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль">
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Логин</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}